<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BackendType" value="1"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=PCDAVID\SQLEXPRESS;Initial Catalog=MediGuardBase;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>
</configuration>
