<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BackendType" value="1"/>
		<add key="IdiomaFolderPath" value="I18n" />
		<add key="IdiomaFileName" value="idioma"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=PCDAVID\SQLEXPRESS;Initial Catalog=MediGuard;Integrated Security=True;Encrypt=False"/>
		<add name="ServicesConString" connectionString="Data Source=PCDAVID\SQLEXPRESS;Initial Catalog=MediGuard;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>
</configuration>
